{% extends 'livros/layout.html'%}

{% load static %}

{% block content %}
<div class="card">
    <div class="card-header bg-success text-white">
        {{titulo_pagina}}
    </div>
    <div class="card-body" style="padding:0px;">
        <form method="get" action="{% url 'salvar_livro' %}">
            <div class="row">
                <div class="col-md-7" style="margin:20px;">
                    <label for="txt_titulo" style="font-weight:bold;font-size:20px;">Titulo</label>
                    <input type="text" name="txt_titulo" class="form-control" id="txt_titulo" value="{{livros.titulo}}">
                </div>
                <div class="col-md-4" style="margin:20px;">
                    <label for="txt_data" style="font-weight:bold;font-size:20px;">Data de Lançamento</label>
                    <input type="date" name="txt_data" class="form-control" id="txt_data" value="{{livros.data_lancamento|date:'Y-m-d'}}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" style="margin:20px;">
                    <label for="slt_autor" style="font-weight:bold;font-size:20px;">Autor</label>
                    <select class="form-control" name="slt_autor" id="slt_autor">
                        {% for autor in autores %}
                        <option value="{{autor.id}}" {% if autor.id == livros.autor_id %} {{"selected"}} {% endif %}>{{autor.nome}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3" style="margin:20px;">
                    <label for="slt_editora" style="font-weight:bold;font-size:20px;">Editora</label>
                    <select class="form-control" name="slt_editora" id="slt_editora">
                        {% for editora in editoras %}
                        <option value="{{editora.id}}" {% if editora.id == livros.editora_id %} {{"selected"}} {% endif %}>{{editora.nome}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3" style="margin:20px;">
                    <label for="slt_genero" style="font-weight:bold;font-size:20px;">Gênero</label>
                    <select class="form-control" name="slt_genero" id="slt_genero">
                        {% for genero in generos %}
                        <option value="{{genero.id}}" {% if genero.id == livros.genero_id %} {{"selected"}} {% endif %}>{{genero.nome}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11" style="margin:20px;">
                    <label for="txt_sinopse" style="font-weight:bold;font-size:20px;">Sinopse</label>
                    <textarea name="txt_sinopse" class="form-control" id="txt_sinopse" rows="8" cols="80">{{livros.sinopse}}</textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="margin:20px;">
                    <input type="submit" name="btn_salvar" class="btn btn-success" value="{{modo}}">
                    <a href="{% url 'index' %}">
                        <input type="button" name="btn_cancelar" class="btn btn-danger" value="Cancelar">
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
