{% extends 'livros/layout.html'%}

{% load static %}

{% block content %}
<div class="card">
    <div class="card-header bg-warning text-white">
            Gêneros
        <a href="{% url 'cadastro_genero' %}">
            <img src="{% static 'livros/imagens/adicionar.png' %}" style="margin-left:auto;margin-right:0px;float:right;" alt="Adicionar" title="Adicionar">
        </a>
    </div>
    <div class="card-body" style="padding:0px;">
        <table class="table table-hover" style="margin:0px;">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Nome
                    </th>
                    <th style="text-align:center;">
                        Editar
                    </th>
                    <th style="text-align:center;">
                        Remover
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for genero in generos  %}
                <tr>
                    <td>
                        {{genero.id}}
                    </td>
                    <td>
                        {{genero.nome}}
                    </td>
                    <td style="text-align:center;">
                        <a href="{% url 'obter_genero' id_genero=genero.id %}">
                        <!-- <a href="#"> -->
                            <img src="{% static 'livros/imagens/atualizar.png' %}" style="cursor:pointer;">
                        </a>
                    </td>
                    <td style="text-align:center;">
                        <a href="{% url 'remover_genero' id_genero=genero.id %}">
                        <!-- <a href="#"> -->
                            <img src="{% static 'livros/imagens/remover.png' %}" style="cursor:pointer;" onclick="return confirm('Deseja realmente excluir o gênero {{genero.nome}}?')">
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
